html{
    position: relative;
}
    .container{
        position: absolute;
        border: 1px solid #e0d9d9;
        width: 300px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        text-align: left;
        background-color: #ffdddc;
        border-left-color:  #f44237 !important;
        border-left-width: 5px;
        border-left-style: solid;
        right: -320px;
        animation: appear 0.5s linear forwards,disappear 5s linear forwards;
    }
    p{
        
        margin-left: 10px;
       
    }
    button{
        border: none;
        cursor: pointer;
        height: 100px;
        background-color: #ffdddc;
        color: #9b9696;
        font-size: 18px;
    }
    button:hover{
        background-color: #e3e1e1;
    }

@keyframes appear {
    from{
        right: -320px;
        opacity: 0;
    }
    to{
        right: 20px;
        opacity: 1;
    }
}
@keyframes disappear {
    from{
       
        opacity: 1;
    }
    to{
  
        opacity: 0;
    }
}